@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font-family: "Lato", serif; */

*{
    padding: 0;
    margin: 0;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

body{
    font-family: "Lato", serif;;
}
.btn{
    background-color: #e55473;
    border: none;
    border-radius: 5px;
    padding: 11px;
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
}

#hero{
    background-color: rgba(229, 84, 115, 0.2);
}
.hero{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 40px 0px 0px 0px ;
}
.hero-contant {
    padding: 148px 10px 100px 0px;
}
.hero-contant h3 {
    font-size: 2.8rem;
    font-weight: 900;
    padding: 0px 222px 0px 0px;
    margin-bottom: 10px;
    color: #272727;
}
.hero-contant p{
    color: rgba(39, 39, 39, 0.6);
    display: block;
    margin-bottom: 20px;
}
.hero-img {
    width: 460px;
}
.hero-img img{
    width: 100%;
}
