@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font-family: "Lato", serif; */

*{
    padding: 0;
    margin: 0;
}

.container{
    max-width:1280px;
    margin: 0 auto;
}

body{
    font-family: "Lato", serif;;
}
.btn{
    background-color: #e55473;
    border: none;
    border-radius: 5px;
    padding: 0.85rem;
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
}

#hero{
    background-color: rgba(229, 84, 115, 0.2);
}
.hero{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 40px 0px 0px 0px ;
}
.hero-contant {
    padding: 148px 10px 100px 0px;
}
.hero-contant h3 {
    font-size: 2.8rem;
    font-weight: 900;
    padding: 0px 222px 0px 0px;
    margin-bottom: 10px;
    color: #272727;
}
.hero-contant p{
    color: rgba(39, 39, 39, 0.6);
    display: block;
    margin-bottom: 20px;
}
.hero-img {
    max-width: 460px;
}
.hero-img img{
    width: 100%;
}

 /* ----------------feature section ------------------------------- */
.feature-title{
    width: 600px;

}

.feaure-card {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: end;
}
.feaure-card .card{
    border-top-left-radius: 50%;
     border-top-right-radius: 50%;
     width: 460px;
}
.feaure-card .card img{
    width: 100%;
}
.feaure-card .card1{
    background: rgba(167, 33, 98, 0.15);
}

.feaure-card .card2{
    background: rgba(5, 151, 160, 0.15);
}
.feaure-card .card3{
    background-color: rgba(5, 151, 160, 0.15);
}
/* --------------------- Responsive for small device----------------------- */

@media screen and (max-width:576px) {
    .hero{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        padding: 0px 10px;
    }
    .hero-contant{
        padding: 0;
    }
    .hero-contant h3{
        padding-right: 0;
    }
}